html{
	background-color: black;
}
body{
	background-color: black;

	font-family: arial;
}
.nav-container{
	width: 1000px;
	color: white;
	margin: 0 auto;
	text-align: center;
	cursor: pointer;
}
.container{
	background-color: white;
	width: 1000px;
	height: 1000px;
	margin: 0 auto;
}
.results-container{
	width: 1000px;
	margin: 0 auto;
	background-color: white;
}
.movie-poster{
  float: left;
  border: 1px solid red;
}

.movie-content{
  float: left;
  border: 1px solid red;
  padding-left: 10px;
  width: 636px;
}
.clear {
  clear: both;
}
#search-container, #top-movies {
	padding: 10px 10px 10px 10px;
	float: left;
}
#search-results{
	padding-top: 10px;
}
.top-results {
	margin: 0 auto;
	width: 95%;
}
.movie-overview {
	padding-top: 10px;
}
.topMovies-poster {
	width: 20%;
	display: inline-block;
}
.topMovies-poster img{
	cursor: pointer;
	height: 250px;
	width: 185px;
}
.similar-movies {
	width: 9%;
	height: 141px;
	display: inline-block;
	margin: 2px;
}
.similar-movies img{
	width: 100%;
	height: 100%;
}
.top-container{
	padding-left: 10px;
}


